<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">

<head>
    <title>Ecommerce System</title>
</head>

<body>
    <section>
        <div class="container card-sh" style="margin-top: 70px; margin-bottom: 100px;">

            <div class="col-md-12 p-5">
                <div class="row" th:object="${product}">


                    <div class="col-md-6 text-end">
                        <img alt="" src="/img/product_img/laptop.jpg" width="330px" height="400px">
                    </div>

                    <div class="col-md-6">

                        <p class="fs-3" th:text="${product.productName}"></p>
                        <span class="fw-bold">Description:</span><br>
                        <p th:text="${product.productDescription}"></p>
                        <p>
                            <span class="fw-bold"> Product Details: </span> <br> Status
                            :
                            <span class="badge bg-success">Available</span>

                            <span class="badge bg-warning">out of stock</span>


                            <br> Category: Laptop<br> Policy : 7
                            Days Replacement & Return
                        </p>
                        <p class="fs-5 fw-bold">
                            Price : 
                            <span style="font-size: larger; font-weight: bold;">RM</span>
                            <span th:text="${product.productPrice}"></span>
                        </p>
                        <!-- <p class="fs-5 fw-bold">
                            Price : <span style="font-size: larger; font-weight: bold;">RM</span>
                            500 <span class="fs-6 text-decoration-line-through text-secondary">RM650</span>
                            <span class="fs-6  text-success">30%
                                off</span>
                        </p> -->

                        <div class="row">
                            <div class="col-md-4 text-success text-center p-2">
                                <i class="fas fa-money-bill-wave fa-2x"></i>
                                <p>Cash On Delivery</p>
                            </div>
                            <div class="col-md-4 text-danger text-center p-2">
                                <i class="fas fa-undo-alt fa-2x"></i>
                                <p>Return Available</p>
                            </div>
                            <div class="col-md-4 text-primary text-center p-2">
                                <i class="fas fa-truck-moving fa-2x"></i>
                                <p>Free Shipping</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger col-md-12">Add To Cart</a>
                        <!-- <a href="#" class="btn text-white btn-warning col-md-12">Out
                            of Stock</a> -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>




<!-- <body>
    <div class="container">
        <h1>Ecommerce System</h1>
        <hr>
        <h2>Product Detail</h2>

        <div th:object="${product}">
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{productName}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{productPrice}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{productDescription}" class="form-control mb-4 col-4">
        </div>

        <hr>

        <a th:href="@{/products}"> Back to Product List</a>
    </div>
</body> -->

</html>