@charset "ISO-8859-1";

.card-sh{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.cat-div{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.navbar-chocolate {
    background-color: #3e2723; /* Dark chocolate color */
}

.bg-dark-chocolate {
    background-color: #3d2b1f; /* Dark chocolate color */
}

.btn-chocolate1 {
    background-color: #3d2b1f; /* Chocolate color */
    border-color: #3d2b1f;
    color: white; /* Text color */
}
.btn-chocolate1:hover {
background-color: green;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}


.btn-chocolate {
    background-color: #3d2b1f; /* Chocolate color */
    border-color: 3;

}

.form-inline {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.form-select {
    margin-right: 10px; /* Add space between select elements */
}

.wrap-at-word {
    overflow-wrap: break-word; /* Allows the text to wrap at whole words */
    word-break: normal; /* Ensures the default word-breaking behavior */
}
